.input{
    width: 420px;
    height: 60px;
    padding: 5px;
    border-radius:5px;
    box-shadow: 0 2px 3px;
    font-size: 30px;
    border: 1px solid #eee;
    outline: none;
    margin-top: 2px;
    text-align: start;
}